<!-- PAGE CONTENT -->

  <!-- PROFILE -->
  <div class="profile">
    <div class="brand">VCard</div>
    <div class="title">Juan José Guzmán</div>
    <div class="position">Java Fullstack and Mobile Developer</div>
    <div class="info-buttons">
      <button class="button-info fa fa-download"
      (click)="downloadResume()">&nbsp; Resume</button>
    </div>
    <br>
    <div class="social-buttons">
      <a class="button-social" href="https://github.com/juanjosegc77" title="Github">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>

<div class="container">

  <!-- SECTION ABOUT ME -->
  <section id="about">
    <div class="section-title">About me</div>
    <div class="card">
      <div class="card-body">
        <p>
          <strong>Hello! I am Juan José Guzmán. Java Fullstack and Mobile Developer.</strong>
          <button class="button-more" (click)="showMoreAboutMe()">{{show_option}}</button>
        </p>
        <div class="more-about-me" *ngIf="show_more_about_me">
          <p>
            My personal interest focuses on the development of computational 
            solutions accessible to the largest number of possible users. 
            Seeking this goal, I have focused on using tools that contribute 
            to cross-platform development, such as Angular, Ionic, Java, 
            MySQL, NoSQL and cloud services, among others.
          </p>
          <p>
            I am passionate about thinking that people benefit from using 
            my developments and that I dedicate myself to a profession in 
            which something new is always learned.
          </p>
          <p>
            "Be the change you want to see in the world".
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION BASIC INFORMATION -->
  <section id="info">
    <div class="section-title">Basic Information</div>
    <div class="card">
      <div class="card-body">
        <div class="row mt-3">
          <div class="col-sm-4 col-info-label"><strong class="text-uppercase">Email:</strong></div>
          <div class="col-sm-8 col-info-value">juanjosegc77@gmail.com</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4 col-info-label"><strong class="text-uppercase">Phone:</strong></div>
          <div class="col-sm-8 col-info-value">096 170 9068</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4 col-info-label"><strong class="text-uppercase">Address:</strong></div>
          <div class="col-sm-8 col-info-value">10260, Bangkok, Thailand</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4 col-info-label"><strong class="text-uppercase">Language:</strong></div>
          <div class="col-sm-8 col-info-value">Spanish (native), English (proficient), Russian (basic)</div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION SKILLS -->
  <section id="skill">
    <div class="section-title">Professional Skills</div>
    <div class="card">
      <div class="card-body">
        <p class="skill-title">Good level</p>
        <p class="skill-description">Linux, Windows, Java, Python, Spring Boot, Angular, XML, TypeScript, JavaScript,
          HTML, Ionic, MySQL, SQLite.</p>
        <p class="skill-title">Intermediate</p>
        <p class="skill-description">Google Cloud services, Git, SCSS, Inkscape, MATLAB, VHDL, LabVIEW, Multisim,
          Mathematica, \LaTeX, OpenOffice, MS Office.</p>
        <p class="skill-title">Basic level</p>
        <p class="skill-description">Django, R, C, VBA, AutoCAD, FreeCAD, SolidWorks.</p>
        <p class="skill-title">Learning</p>
        <p class="skill-description">Docker, Kubernetes.</p>
      </div>
    </div>
  </section>

  <!-- SECTION PORTFOLIO -->
  <section id="portfolio" class="portfolio">
    <div class="section-title">Portafolio</div>
    <div class="row portfolio-row">
      <div class="col portfolio-col">
        <div class="portfolio-wrap">
          <img src="assets/images/tlatoa.png" alt="Tlatoa">
          <div class="portfolio-info">
            Tlatoa
          </div>
          <div class="portfolio-links">
            <a href="https://play.google.com/store/apps/details?id=com.developersmix.tlatoa">
              <i class="fa fa-android"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col portfolio-col">
        <div class="portfolio-wrap">
          <img src="assets/images/kis.png" alt="">
          <div class="portfolio-links">
            <a href="https://play.google.com/store/apps/details?id=com.developersmix.kis">
              <i class="fa fa-android"></i>
            </a>
          </div>
          <div class="portfolio-info">
            Keep Info Secure
          </div>
        </div>
      </div>
    </div>

    <div class="row portfolio-row">
      <div class="col portfolio-col">
        <div class="portfolio-wrap">
          <img src="assets/images/acquisition.png" alt="Acquisition">
          <div class="portfolio-info">
            Acquisition
          </div>
          <div class="portfolio-links">
            <a href="http://acquisition.developersmix.com">
              <i class="fa fa-globe"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col portfolio-col">
        <div class="portfolio-wrap">
          <img src="assets/images/incidencias.png" alt="ControlIncidencias">
          <div class="portfolio-links">
            <a href="http://incidencias.developersmix.com">
              <i class="fa fa-globe"></i>
            </a>
          </div>
          <div class="portfolio-info">
            Control Incidencias
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION WORK EXPERIENCE -->
  <section id="work_experience" class="work-experience">
    <div class="section-title">Work Experience</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-experience">
            <div class="card-body">
              <p class="card-title">Java Fullstack and Mobile Developer</p>
              <p>2018 - current</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">Freelance</p>
              <ul>
                <li>Tlatoa - 2022 - Android app</li>
                <li>AcquisitionLite - 2021 - Java and Typescript fullstack</li>
                <li>Keep Info Secure - 2021 - Android app</li>
                <li>ControlIncidencias - 2020 - Java and Typescript fullstack</li>
                <li>IncidenciasWeb - 2018 - Java Web</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-experience">
            <div class="card-body">
              <p class="card-title">Administrative support A8</p>
              <p>Oct 2013 - Jun 2022</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">Regional Hospital "Lic. Adolfo López Mateos" (Clinical File)</p>
              <ul>
                <li>Clinical records preparation, management and safekeeping.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-experience">
            <div class="card-body">
              <p class="card-title">Social Service</p>
              <p>Mar 2013 - Sep 2013</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">Regional Hospital "Lic. Adolfo López Mateos" (Department of Biomedical Engineering)</p>
              <ul>
                <li>Inventory update support. Contracts monitoring from medical equipment maintenance companies.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-experience">
            <div class="card-body">
              <p class="card-title">Administrative support A4</p>
              <p>Jan 1999 - Feb 2013</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">Regional Hospital "Lic. Adolfo López Mateos" (Assistance Control and Human Resources)</p>
              <ul>
                <li>Development and implementation of macros with Excel and Visual Basic to automate incidences processes in the assistance control department.</li>
              <li>Development and implementation of macros with Excel and Visual Basic to automate the justification processes of Nursing Coordination incidences.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-experience">
            <div class="card-body">
              <p class="card-title">Teacher</p>
              <p>Aug 1995 - Jan 1996</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">National College of Technical Professional Education (Academic area)</p>
              <ul>
                <li>Introduction to computing course in the Specialization course in Administration and Teaching in Nursing.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-experience">
            <div class="card-body">
              <p class="card-title">Social Service</p>
              <p>Jan 1995 - Nov 1995</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">Herman Hollerith Institute (Computer lab)</p>
              <ul>
                <li>Software installation, support for students, support for teaching staff, hardware maintenance, support for the diskette vaccination campaign, spreadsheet formats elaboration.</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
  </section>

  <!-- SECTION EDUCATION -->
  <section id="education" class="education">
    <div class="section-title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-education">
            <div class="card-body">
              <p class="card-title">MSc. Mobile Computer Systems</p>
              <p>2017 - 2019</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">National Polytechnic Institute</p>
              <p>Thesis: Filter for complex black box systems on mobile devices (Honorific mention).</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-education">
            <div class="card-body">
              <p class="card-title">BEng. Biomedical Engineering</p>
              <p>2009 - 2014</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">Autonomous Metropolitan University</p>
              <p>Thesis: Graphical user interface to measure evoked potentials: A LabVIEW based application for the device Neuropack &#x2211;.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 col-left-education">
            <div class="card-body">
              <p class="card-title">Programmer analyst</p>
              <p>1994 - 1996</p>
            </div>
          </div>
          <div class="col-md-9 col-right">
            <div class="card-body">
              <p class="card-subtitle">Herman Hollerith Institute</p>
              <p>Thesis: Not necessary for graduation.</p>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>

<!-- FOOTER -->
<footer id="footer">
  <div class="footer-bottom">
    <div class="text-center">
      <strong><span>VCard</span></strong> {{year}} Created by <strong><span>M. Sc. Juan José Guzmán Cruz</span></strong>
    </div>
  </div>
</footer>


